## APAGAR COLUNAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'NOME':['MARIA','Sandra'],
              'ALTURA':[1.77,1.65],
              'PESO':[65, 72],
              'IDADE':[40, 20]})
df

     NOME  ALTURA  PESO  IDADE
0   MARIA    1.77    65     40
1  Sandra    1.65    72     20

APAGAR COLUNAS SINTAXE PYTHON

In [ ]:
del df['NOME'], df['IDADE']

In [ ]:
df

APAGAR COLUNAS UTILIZANDO O MÃ‰TODO .drop()

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [ ]:
df = pd.DataFrame({'NOME':['MARIA','Sandra'],
              'ALTURA':[1.77,1.65],
              'PESO':[65, 72],
              'IDADE':[40, 20]})
df

In [ ]:
df.drop(columns = ['NOME','PESO'])

In [ ]:
df = df.drop(['NOME', 'PESO'], axis = 1) # ou axis = 'columns'
df