## Apagar linhas ou colunas com valores nulos
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [1]:
import pandas as pd

#### APAGAR LINHAS COM VALOR/ES NULOS

In [ ]:
df = pd.DataFrame({ 'nome':['maria', 'bruno', 'carol', None,None, 'fabiana'],
                   'sexo' : ['F','M','F',None,None,'F'],
                   'altura' :[1.68, None,1.60, 1.80,None, 1.55],
                   'peso' :[None, 60, None, 84,None, 75]
                  })
df

#### Apagar linhas onde ALGUMA das colunas tem valor nulo

In [ ]:
df.dropna(how = 'any')

#### Apagar linhas onde TODAS as colunas têm valores nulos

In [ ]:
df.dropna(how = 'all')

In [ ]:
df

#### Apagar linhas onde uma ou mais colunas selecionadas têm valor/es nulo/s

In [ ]:
df.dropna(subset = 'peso')

In [ ]:
# apaga linhas onde pelo menos uma das colunas especificadas tem valor nulo
df.dropna(subset = ['peso', 'altura'])

#### Apagar linhas com quantidade de colunas com valores NÃO NULOS menor que a especificada

In [ ]:
df

In [ ]:
# vai manter apenas as linhas com pelo menos x colunas não nulas
df.dropna(thresh = 3)

#### APAGAR COLUNAS COM VALORES NULOS

In [ ]:
vendas = pd.DataFrame({ 'produto':['boneca', 'carrinho', 'bola','casinha'],
                   'vendas_jan' :[12,7,300,60],
                   'vendas_fev' :[24,None,None,None],
                   'vendas_mar' :[36,5,None,65],   
                   'vendas_abr' :[None,3,405,70],
                   'vendas_mai':[None,None,None,None],
                   'preço' :[15.5, 12.4, 10.2,100]})
vendas

#### Apagar colunas que tenham ao menos um valor nulo

In [ ]:
vendas.dropna(axis =1)

#### Apagar colunas com todos os valores nulos

In [ ]:
vendas.dropna(axis = 1, how = "all")

#### Apagar colunas em que lista de linhas selecionadas têm algum nulo

In [ ]:
vendas.dropna(axis = 1, subset = [1,2])

In [ ]:
vendas = pd.DataFrame({ 
                   'vendas_jan' :[12,7,300,60],
                   'vendas_fev' :[24,None,None,None],
                   'vendas_mar' :[36,5,None,65],   
                   'vendas_abr' :[None,3,405,70],
                   'vendas_mai':[None,None,None,None],
                   'preço' :[15.5, 12.4, 10.2,100]}, index = ['boneca', 'carrinho', 'bola','casinha'])
vendas

In [ ]:
vendas.dropna(axis = 1, subset = ['carrinho','bola'])

#### Apagar colunas com quantidade de linhas com valores NÃO NULOS menor que a especificada

In [ ]:
vendas

In [ ]:
vendas.dropna(axis = 1, thresh = 4)