### Definir o tipo das letras (case) das strings 

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.title.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.capitalize.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.swapcase.html#

In [1]:
import pandas as pd

#### Definir tipo de letras em string Python

In [2]:
# relembrar no python
a = "pylaDies salVador"
a

'pylaDies salVador'

In [3]:
a.upper()

'PYLADIES SALVADOR'

In [4]:
a.title()

'Pyladies Salvador'

In [5]:
a.lower()

'pyladies salvador'

In [6]:
a.capitalize()

'Pyladies salvador'

#### Definir tipo de letras de strings em uma coluna (series) usando métodos pandas

In [7]:
df = pd.DataFrame({
    'nome':['Joana Silva', 'andreA saNtos', 'LeIla BarbOsa'],
    'data_nascimento':['01/04/2001', '05/06/1996', '15/10/1987'],
    'sexo':['feminino', '  feminino', ' feminino  '],
    'cpf':['093.434.324-16', '125.789.674-64', '154.849.764-64']
})
df

            nome data_nascimento         sexo             cpf
0    Joana Silva      01/04/2001     feminino  093.434.324-16
1  andreA saNtos      05/06/1996     feminino  125.789.674-64
2  LeIla BarbOsa      15/10/1987   feminino    154.849.764-64

In [8]:
# minúsculas
df['nome'].str.lower()

0      joana silva
1    andrea santos
2    leila barbosa
Name: nome, dtype: object

In [9]:
# maiúsculas
df['nome'].str.upper()

0      JOANA SILVA
1    ANDREA SANTOS
2    LEILA BARBOSA
Name: nome, dtype: object

In [10]:
# título
df['nome'].str.title()

0      Joana Silva
1    Andrea Santos
2    Leila Barbosa
Name: nome, dtype: object

In [11]:
# só a primeira letra da frase maiúscula
df['nome'].str.capitalize()

0      Joana silva
1    Andrea santos
2    Leila barbosa
Name: nome, dtype: object

In [12]:
# troca os tipos de letras
df['nome'].str.swapcase()

0      jOANA sILVA
1    ANDREa SAnTOS
2    lEiLA bARBoSA
Name: nome, dtype: object