### FREQUÊNCIA DE VALORES DE UMA COLUNA

https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pyladies.csv",
            encoding = "latin", sep = ";",
            decimal = ",", 
            skipinitialspace = True, 
            na_values = { 'idade':'-'}, 
            parse_dates = ['data atualização'], 
            dayfirst = True, 
            dtype = {"meses tratamento":'int8', "sexo":'category', 'nome':str})
df

,nome,documento,sexo,data atualização,altura,peso,idade,meses tratamento
0,MARIA,8653287,Feminino,2022-08-10,1.54,55.5,50.0,2
1,Celso,2058021,Masculino,2022-09-22,1.63,74.3,45.0,5
2,Zuleide,6600351,Feminino,2022-09-30,1.54,63.0,31.0,7
3,BETO,7735611,Masculino,2022-06-05,1.72,102.0,24.0,2
4,Cecília,5842713,Feminino,2022-02-02,1.66,79.4,44.0,1
5,Ana Cristina,3504191,Feminino,2022-07-16,1.64,78.6,35.0,1
6,aurora,8894948,Feminino,2021-11-24,1.76,65.0,19.0,3
7,NaN,3338125,Masculino,2021-12-30,1.87,83.6,22.0,5
8,Catarina,555784,Feminino,2022-10-01,1.62,78.4,NaN,4
9,Ângelo,8901510,Masculino,2022-05-04,1.92,110.5,44.0,6
10,Vitória,65137823,Feminino,2021-10-26,1.72,NaN,60.0,4
11,Luana,5015191,Feminino,2021-12-08,1.67,85.0,73.0,2
12,Jorge,5013874,Masculino,2021-12-17,1.66,115.0,46.0,1
13,Gabriela,1132138,Feminino,2022-09-23,1.73,50.0,35.0,2
14,Catarina,555784,Feminino,2022-02-11,1.62,85.0,48.0,7
15,JORGE,35309A,Masculino,2022-06-21,1.66,106.0,47.0,5
16,Sérgio,15616516,Masculino,2022-04-25,1.88,126.0,28.0,1

In [12]:
df['sexo'].value_counts()

Feminino     10
Masculino     7
Name: sexo, dtype: int64

In [4]:
df['sexo'].value_counts(normalize = True) # PODE VER EM PROPORÇÃO

Feminino     0.588235
Masculino    0.411765
Name: sexo, dtype: float64

In [5]:
df['sexo'].value_counts(normalize = True)*100 # PERCENTUAL

Feminino     58.823529
Masculino    41.176471
Name: sexo, dtype: float64

In [8]:
df['nome'].value_counts(dropna = False) # PODE CONTAR A QUANTIDADE DE NULOS TAMBÉM

Catarina        2
MARIA           1
Celso           1
Zuleide         1
BETO            1
Cecília         1
Ana Cristina    1
aurora          1
NaN             1
Ângelo          1
Vitória         1
Luana           1
Jorge           1
Gabriela        1
JORGE           1
Sérgio          1
Name: nome, dtype: int64

In [9]:
df['altura']

0     1.54
1     1.63
2     1.54
3     1.72
4     1.66
5     1.64
6     1.76
7     1.87
8     1.62
9     1.92
10    1.72
11    1.67
12    1.66
13    1.73
14    1.62
15    1.66
16    1.88
Name: altura, dtype: float64

In [10]:
df['altura'].value_counts(bins=4)

(1.635, 1.73]                  8
(1.5390000000000001, 1.635]    5
(1.825, 1.92]                  3
(1.73, 1.825]                  1
Name: altura, dtype: int64

In [13]:
df['altura'].value_counts(bins=4, sort = False)

(1.5390000000000001, 1.635]    5
(1.635, 1.73]                  8
(1.73, 1.825]                  1
(1.825, 1.92]                  3
Name: altura, dtype: int64

In [14]:
df['altura'].min()

1.54

In [15]:
df['altura'].max()

1.92