## INFORMAÇÕES DE TIPOS DE DADOS, USO DE MEMÓRIA E QTD DE NULOS DAS COLUNAS

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("pyladies.csv",
            encoding = "latin", sep = ";",
            decimal = ",", 
            skipinitialspace = True, 
            na_values = { 'idade':'-'}, 
            parse_dates = ['data atualização'], 
            dayfirst = True, 
            dtype = {"meses tratamento":'int8', "sexo":'category', 'nome':str})
df

,nome,documento,sexo,data atualização,altura,peso,idade,meses tratamento
0,MARIA,8653287,Feminino,2022-08-10,1.54,55.5,50.0,2
1,Celso,2058021,Masculino,2022-09-22,1.63,74.3,45.0,5
2,Zuleide,6600351,Feminino,2022-09-30,1.54,63.0,31.0,7
3,BETO,7735611,Masculino,2022-06-05,1.72,102.0,24.0,2
4,Cecília,5842713,Feminino,2022-02-02,1.66,79.4,44.0,1
5,Ana Cristina,3504191,Feminino,2022-07-16,1.64,78.6,35.0,1
6,aurora,8894948,Feminino,2021-11-24,1.76,65.0,19.0,3
7,NaN,3338125,Masculino,2021-12-30,1.87,83.6,22.0,5
8,Catarina,555784,Feminino,2022-10-01,1.62,78.4,NaN,4
9,Ângelo,8901510,Masculino,2022-05-04,1.92,110.5,44.0,6
10,Vitória,65137823,Feminino,2021-10-26,1.72,NaN,60.0,4
11,Luana,5015191,Feminino,2021-12-08,1.67,85.0,73.0,2
12,Jorge,5013874,Masculino,2021-12-17,1.66,115.0,46.0,1
13,Gabriela,1132138,Feminino,2022-09-23,1.73,50.0,35.0,2
14,Catarina,555784,Feminino,2022-02-11,1.62,85.0,48.0,7
15,JORGE,35309A,Masculino,2022-06-21,1.66,106.0,47.0,5
16,Sérgio,15616516,Masculino,2022-04-25,1.88,126.0,28.0,1

TIPOS DE DADOS DE CADA COLUNA, QUANTIDADE DE VALORES NÃO NULOS, USO DE MEMÓRIA

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

In [14]:
df.info() # USO DE MEMÓRIA ESTIMADO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome              16 non-null     object
 1   documento         17 non-null     object
 2   sexo              17 non-null     category
 3   data atualização  17 non-null     datetime64[ns]
 4   altura            17 non-null     float64
 5   peso              16 non-null     float64
 6   idade             16 non-null     float64
 7   meses tratamento  17 non-null     int8
dtypes: category(1), datetime64[ns](1), float64(3), int8(1), object(2)
memory usage: 994.0+ bytes

In [15]:
df.info(memory_usage = 'deep', show_counts = True) # USO DE MEMÓRIA CALCULADO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome              16 non-null     object
 1   documento         17 non-null     object
 2   sexo              17 non-null     category
 3   data atualização  17 non-null     datetime64[ns]
 4   altura            17 non-null     float64
 5   peso              16 non-null     float64
 6   idade             16 non-null     float64
 7   meses tratamento  17 non-null     int8
dtypes: category(1), datetime64[ns](1), float64(3), int8(1), object(2)
memory usage: 3.0 KB

USO DE MEMÓRIDA

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.memory_usage.html

In [18]:
df.memory_usage().sum()

994

In [19]:
df.memory_usage(deep = True).sum()

3068

TIPOS DE DADOS DE CADA COLUNA

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [20]:
df.dtypes

nome                        object
documento                   object
sexo                      category
data atualização    datetime64[ns]
altura                     float64
peso                       float64
idade                      float64
meses tratamento              int8
dtype: object

QUANTIDADE DE NULOS DE CADA COLUNA

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html

In [24]:
df.isna().sum()

nome                1
documento           0
sexo                0
data atualização    0
altura              0
peso                1
idade               1
meses tratamento    0
dtype: int64

In [25]:
df.isnull().sum(axis = 1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     0
10    1
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [29]:
df.isna().sum()

nome                1
documento           0
sexo                0
data atualização    0
altura              0
peso                1
idade               1
meses tratamento    0
dtype: int64