### Remover caracteres finais e/ou iniciais (strip) de strings em coluna (series)
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.rstrip.html

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lstrip.html

In [1]:
import pandas as pd

#### Remover caracteres finais e/ou iniciais de uma string python

In [2]:
a = "   test test "
a

'   test test '

In [3]:
a.strip()

'test test'

In [4]:
a.strip(" t")

'est tes'

In [6]:
a.lstrip(" et")

'st test '

In [8]:
a.rstrip(" st")

'   test te'

In [9]:
a.strip(" tes")

''

#### Remover caracteres finais e/ou iniciais (strip) de strings em coluna (series) usando métodos str.strip(), str.rstrip() e str.lstrip()

In [10]:
df = pd.DataFrame({
    'nome':['Joana Silva', 'andreA saNtos', 'LeIla BarbOsa'],
    'data_nascimento':['01/04/2001', '05/06/1996', '15/10/1987'],
    'sexo':['feminino', '  feminino', ' feminino  '],
    'cpf':['093.434.324-16', '125.789.674-64', '154.849.764-64']
})
df

            nome data_nascimento         sexo             cpf
0    Joana Silva      01/04/2001     feminino  093.434.324-16
1  andreA saNtos      05/06/1996     feminino  125.789.674-64
2  LeIla BarbOsa      15/10/1987   feminino    154.849.764-64

In [11]:
df['sexo'].unique()

array(['feminino', '  feminino', ' feminino  '], dtype=object)

In [14]:
df['sexo'].str.strip().unique()

array(['feminino'], dtype=object)

In [15]:
df['sexo'].str.strip(' f')

0    eminino
1    eminino
2    eminino
Name: sexo, dtype: object

In [16]:
# remove caracteres definidos do início e do final da string
df['nome'].str.strip('a')

0      Joana Silv
1    ndreA saNtos
2    LeIla BarbOs
Name: nome, dtype: object

In [17]:
# remove caracteres definidos apenas do início da string
df['nome'].str.lstrip('a')

0      Joana Silva
1     ndreA saNtos
2    LeIla BarbOsa
Name: nome, dtype: object

In [18]:
# remove caracteres defenidos apenas do final da string
df['nome'].str.rstrip('a')

0       Joana Silv
1    andreA saNtos
2     LeIla BarbOs
Name: nome, dtype: object

In [19]:
df['nome'].str.rstrip('sa')

0      Joana Silv
1    andreA saNto
2     LeIla BarbO
Name: nome, dtype: object