## SELECIONAR COLUNAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'NOME CLIENTE':['MARIA','Sandra'],
              'ALTURA':[1.77,7.65],
              'PESO':[65, 72],
              'IDADE':[40, 20]})
df

  NOME CLIENTE  ALTURA  PESO  IDADE
0        MARIA    1.77    65     40
1       Sandra    7.65    72     20

### DOT NOTATION

In [3]:
# dot notation
df.PESO

0    65
1    72
Name: PESO, dtype: int64

utilizando o "dot notation" não podemos selecionar colunas com espaços no nome

In [4]:
df.NOME CLIENTE

SyntaxError: invalid syntax (1291095368.py, line 1)

com "dot notation" não podemos selecionar mais de uma coluna

In [5]:
df.PESO, df.IDADE

(0    65
 1    72
 Name: PESO, dtype: int64,
 0    40
 1    20
 Name: IDADE, dtype: int64)

### BRACKET NOTATION

In [6]:
# bracket notation
df["PESO"]

0    65
1    72
Name: PESO, dtype: int64

com "bracket notation" podemos selecionar colunas com espaços no nome

In [7]:
df['NOME CLIENTE']

0     MARIA
1    Sandra
Name: NOME CLIENTE, dtype: object

com "bracket notation" podemos selecionar mais de uma coluna

In [8]:
df[['NOME CLIENTE', 'PESO']]

  NOME CLIENTE  PESO
0        MARIA    65
1       Sandra    72

In [9]:
df

  NOME CLIENTE  ALTURA  PESO  IDADE
0        MARIA    1.77    65     40
1       Sandra    7.65    72     20

In [10]:
df[['PESO','NOME CLIENTE']]

   PESO NOME CLIENTE
0    65        MARIA
1    72       Sandra